.buttonsocial {
   
    margin: 1em 0; 
    width: 50vw !important;
    height: 7vh;
    justify-content: center;
    
    

}



/* .my-facebook-button-class {
   
} */



.link_b {
    text-decoration: none !important;
    color: black;
    
}